body {
    color: #004A7C;
    background-color: #FAFAFA;
}

h3 {
    color: #005691;
    padding-left: 5px;
}

.heading {
    padding: 15px;
    display: flex;
    align-content: left;
}

.heading-txt{
    padding-left: 20px;
    text-align: center;
}

.accordion-item{
    padding-left: 15px;
}

.skills {
    padding-left: 35px;
}

.profile-pic{
    height: 100px;
}

.skill{
    width: 15%;
}

.experience{
    width: 85%;
}

p {
    padding: 0;
}

@media all and (max-width: 500px) { /* screen size until 500px */
    body {
        font-size: 1.5em; /* 0.8x default size */
        }
    }